.hidden {
  display: none;
}

.controls {
  display: flex;
  flex-direction: column;
}

.controls textarea {
  height: 60vh;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.25rem;
}
